@import config

// CUSTOM USER STYLES & IMPORTS

.wrapper
  overflow: hidden
  min-height: 100%

.container 
  max-width: 1200px
  padding: 0px 15px
  margin: 0 auto

.header 
  max-width: 100%
  display: flex
  justify-content: center
  align-items: center
  font-size: 28px
  border: 1px solid #787878
.content
  max-width: 100%
  margin-top: 20px
  display: flex
  font-size: 22px 
  border: 1px solid #787878

.content__l 
  width: 30%
  align-items: center
  padding: 20px

.content__r 
  width: 70%
  align-items: center
  padding: 20px

.footer 
  max-width: 100%
  margin-top: 20px
  border: 1px solid #787878
  display: flex
  justify-content: center
  align-items: center
  font-size: 28px



@media (max-width: 1200px) 
  .container 
    max-width: 970px

@media (max-width: 992px) 
  .container 
    max-width: 750px


@media (max-width: 767px) 
  .container 
    max-width: none